/* General */
*
{
    margin: 0;
    padding: 0;
}

.container
{
    box-sizing: border-box;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    margin-bottom: 3px;
}

header nav ul li
{
    list-style-type: none;
    display: inline;
    margin-right: 20px;

}

header nav
{
    display: flex;
    align-items: center;
}

header nav ul li
{
    font-size: 20px;
}

a
{
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

/* Banniere */

.banniere
{
    background-image: url("backgroung_image.jpg");
    height: 750px;
}

.banniere h1
{
    text-align: center;
    color: white;
    padding: 20 0 0 0;
    font-size: 3em;

}

.container .banniere img
{   
    height: 90px;
    width: 300px;
    margin: auto auto;
    display: flex;
    vertical-align: center;
    padding-top: 270px;
}

/* Offre */

section h2
{
    text-align: center;
    padding-top: 80px;
    font-weight: lighter;
}

#offre ul #graphisme
{
    height: 150px;
    width: 150px;
}

#offre ul #strategie
{
    height: 150px;
    width: 150px;
}

#offre ul #illustrations
{
    height: 150px;
    width: 150px;
}
#offre ul
{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    padding: 50px 0;
}

#offre ul li
{
    width: 300px;
    height: 250px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    

}

#offre ul h3
{
    text-transform: uppercase;
}

#offre ul p
{
    font-size: 0.8em;
}

.avis .texte, .nom
{
    text-align: center;
}

.avis .nom
{
    font-size: 0.8em;
    padding-bottom: 30px;
}


/* Footer */

footer
{
    background-color: #6d009e;
    pading: 50px 0;
    height: 250px;
}

.liens
{
    display: flex;
    justify-content: space-around;
}

footer h4
{
    text-align: center;
}

footer h3
{
    text-transform: uppercase;
}