/* General */
*
{
    margin: 0;
    padding: 0;
}

.container
{
    box-sizing: border-box;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    margin-bottom: 3px;
}

header nav ul li
{
    list-style-type: none;
    display: inline;
    margin-right: 20px;

}

header nav
{
    display: flex;
    align-items: center;
}

header nav ul li
{
    font-size: 20px;
}

a
{
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

/* Banniere */

.banniere
{
    background-image: url("backgroung_image.jpg");
    height: 750px;
}

.banniere h1
{
    text-align: center;
    color: white;
    padding: 20 0 0 0;
    font-size: 3em;

}

.container .banniere img
{   
    height: 90px;
    width: 300px;
    margin: auto auto;
    display: flex;
    vertical-align: center;
    padding-top: 270px;
}

/* Offre */

section
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.descriptif
{
    box-sizing: content-box;
}

section .presentation
{
    height: auto;
    width: auto;
    text-align: center;
    padding: 50px 0 25px 0;

}

section .presentation h2
{
    font-weight: lighter;
}

#offre ul #graphisme
{
    height: 250px;
    width: 230px;
}

#offre ul #strategie
{
    height: 250px;
    width: 230px;
}

#offre ul #illustrations
{
    height: 250px;
    width: 230px;
}
#offre ul
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 50px 0 0 0;

}

#offre ul li
{
    width: 350px;
    height: 300px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    margin:0 25px;

}

#offre ul h3
{
    text-transform: uppercase;
}

#offre ul p
{
    font-size: 0.9em;
}

.avis .texte, .nom
{
    text-align: center;
}

.avis .texte
{
    font-size: 1.5em;
}
.avis .nom
{
    font-size: 0.9em;
    padding-bottom: 30px;
}




/* Footer */

footer
{
    background-color: #6d009e;
    pading: 50px 0;
    height: 280px;
}

.liens
{
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
    padding-bottom: 20px;s
}


footer h4
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
}

footer h3
{
    text-transform: uppercase;
}

.fab
{
    font-size: 50px;
    margin:0 50px;
    padding-top: 15px;

}

.fab:hover
{
    color: blue;
}

.links
{
    display: flex;
    justify-content: center;
}

footer ul li
{
    color: #fff;
}

footer p
{
    color: #fff;
}

footer .titre
{
    color: silver;
    padding-bottom: 9px;
    text-align: justify;
}